{% extends "client/base_client.html" %}
{% load static %}

{% block content %}
<div class="container">
    <div class="row">
        <h2 class="text-center">О компании</2>
    </div>

    <div class="row d-flex text-justify mt-5">
        <div class="offset-1 col-4">
            ОАО "Рога и Копыта" - ведущая страховая компания, 
            предоставляющая широкий спектр страховых услуг физическим. 
            С момента своего основания в 1995 году, компания последовательно 
            укрепляет свои позиции на рынке, предлагая клиентам надежную защиту 
            и выгодные условия страхования.

            <p class="mt-5">
                Миссия компании
                <hr class="bg-info" style="height:10px;"> 
            </p>

            Обеспечение финансовой защиты и душевного спокойствия клиентов путем предоставления качественных страховых услуг.

            <p class="mt-5">
                Ценности компании
                <hr class="bg-info" style="height:10px;"> 
            </p>
            <ul>
                <li>Ориентация на клиента</li>
                <li>Надежность и стабильность</li>
                <li>Инновации и развитие</li>
                <li>Профессионализм и компетентность</li>
                <li>Социальная ответственность</li>
            </ul>

            <p class="mt-5">
                Услуги
                <hr class="bg-info" style="height:10px;"> 
            </p>

            ОАО "Рога и Копыта" предлагает широкий спектр страховых услуг, в том числе:
            <ul>
                <li>Страхование жизни и здоровья</li>
                <li>Страхование недвижимости</li>
            </ul>
        </div>
        <div class="col-4 offset-2">
            <p>
                Надежность
                <hr class="bg-info" style="height:10px;"> 
            </p>
        
            АО "Рога и Копыта" имеет высокую финансовую устойчивость и надежность. 
            Компания обладает значительными активами и резервами, 
            что гарантирует выполнение всех обязательств перед клиентами.

            <p class="mt-5">
                Партнеры
                <hr class="bg-info" style="height:10px;"> 
            </p>

            Компания сотрудничает с крупными банками, 
            агентствами недвижимости и другими организациями, 
            обеспечивая клиентам удобный доступ к страховым услугам.

            <p class="mt-5">
                Устойчивое развитие
                <hr class="bg-info" style="height:10px;"> 
            </p>

            ОАО "Рога и Копыта" ответственно относится к вопросам устойчивого 
            развития и социальной ответственности. Компания участвует в благотворительных 
            проектах и поддерживает различные инициативы, 
            направленные на улучшение качества жизни людей.
        </div>
    </div>
</div>

{% endblock %}