{% extends "client/base_client.html" %}

{% block content %}
<div class="container">
    <div class="row">
        <h2 class="text-center">Виды страхования</h2>
    </div>

    <div class="row text-justify">
        Страхование играет важную роль в обеспечении финансовой защиты и душевного спокойствия. 
        Существует множество видов страхования, каждый из которых предназначен для защиты от конкретных рисков. 
        Два наиболее распространенных вида страхования - это страхование жизни и страхование недвижимости.
    </div>

    <div class="row">
        <p class="text-wrap text-center fs-4">
            Страхование жизни
            <hr class="bg-info" style="height:10px;"> 
        </p>

        Страхование жизни обеспечивает финансовую защиту вашей семье в случае вашей смерти:
        <ul>
            <li>Страхование жизни на случай смерти: Выплачивает единовременную сумму 
                вашей семье или другим бенефициарам в случае вашей смерти.</li>
            </ul>
    </div>

    <div class="row">
        <p class="text-wrap text-center fs-4">
            Страхование недвижимости
            <hr class="bg-info" style="height:10px;"> 
        </p>

        Страхование недвижимости защищает ваш дом или другое имущество от повреждения или уничтожения 
        в результате таких событий, как пожар, наводнение, ураган и кража:
        <ul>
            <li>Страхование домовладельцев: Защищает ваш дом, личные вещи и ответственность перед третьими лицами.</li>
        </ul>
    </div>

    <div class="row">
        <p class="text-wrap text-center fs-4">
            Преимущества страхования
            <hr class="bg-info" style="height:10px;"> 
        </p>

        Страхование предоставляет ряд преимуществ, в том числе:
        <ul>
            <li>Финансовая защита: Страхование может помочь вам покрыть расходы, связанные с неожиданными событиями, 
                такими как смерть, потеря трудоспособности, 
                повреждение имущества или судебные иски.</li>
            <li>Душевное спокойствие: Страхование может дать вам уверенность в том, что ваша семья 
                и имущество защищены в случае непредвиденных обстоятельств.</li>
            <li>Налоговые льготы: В некоторых случаях страховые премии могут быть 
                вычтены из налогооблагаемого дохода.</li>
        </ul>
    </div>

    <div class="row">
        <p class="text-wrap text-center fs-4">
            Выбор страхового покрытия
            <hr class="bg-info" style="height:10px;"> 
        </p>

        Чтобы выбрать правильное страховое покрытие, важно учитывать следующие факторы:
        <ul>
            <li>Ваш возраст и состояние здоровья</li>
            <li>Стоимость и тип вашего имущества</li>
            <li>Ваши финансовые потребности и цели</li>
            <li>Уровень риска, который вы готовы принять</li>
        </ul>

        Проконсультируйтесь со страховым агентом, чтобы определить, какое 
        страховое покрытие лучше всего соответствует вашим потребностям и бюджету.
    </div>
</div>
{% endblock %}