{% extends "client/base_client.html" %}

{% load static %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 class="text-center"> 
                    ОАО "Рога и Копыта": Страховой щит для вашей жизни и собственности 
                </h2>
                <p class="fs-5 text-wrap text-justify">
                    Уважаемые господа и дамы! 
                </p>
                <p class="fs-5 text-wrap text-justify">
                    Представляем вашему вниманию ОАО "Рога и Копыта" 
                    — ведущую страховую компанию, которая вот уже много лет заботится о благополучии наших клиентов. 
                    Мы гордимся тем, что предоставляем всестороннюю страховую защиту для частных лиц, охватывая самые важные аспекты вашей жизни и имущества.
                </p>
            </div>    
        </div> 
        
        <div class="row mt-5">
            <div class="col-8">
                <p class="fs-5 text-wrap text-justify">
                    Страхование жизни: Неоценимое спокойствие для ваших близких
            <hr class="bg-info" style="height:10px;"> 
                </p>
                <p class="fs-5 text-wrap text-justify">
                    В случае неожиданных жизненных ситуаций вы можете рассчитывать на ОАО "Рога и Копыта". 
                    Наша программа страхования жизни обеспечивает финансовую подушку безопасности для вашей 
                    семьи в случае вашей смерти или инвалидности. С нами вы можете быть уверены, что 
                    ваши любимые будут защищены и обеспечены, независимо от обстоятельств.
                </p>
            </div>
            <div class="col-4 d-flex flex-column ">
                <img class="rounded" src="{% static "img/gigachad.jpg" %}" />
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-4 d-flex flex-column ">
                <img class="rounded" src="{% static "img/castle.jpg" %}" />
            </div>
            <div class="col-8 ">
                <p class="fs-5 text-wrap text-justify">
                    Страхование недвижимости: Ваш дом — ваша крепость
            <hr class="bg-info" style="height:10px;"> 
                </p>
                <p class="fs-5 text-wrap text-justify">
                    Дом — это не просто место, где вы живете. Это ваше убежище, ваша обитель, место, 
                    где создаются воспоминания на долгие годы. ОАО "Рога и Копыта" предлагает надежное 
                    страхование недвижимости, которое защитит ваш дом от пожаров, затоплений, 
                    стихийных бедствий и других неприятных сюрпризов. Мы понимаем, как важна для вас ваша собственность, 
                    поэтому мы сделаем все возможное, чтобы сохранить ее в целости и сохранности.
                </p>    
            </div>
        </div>
        <div class="row mt-5">
            <p class="fs-5 text-wrap text-center">
                Почему мы отличаемся от других?
                <hr class="bg-info" style="height:10px;"> 
            </p>
            <p class="fs-5 text-wrap text-justify">
                1. Нас рекомендуют рогатые и копытные!
                Мы не просто так назвались "Рога и Копыта" 
                — многие наши клиенты — это довольные животные из разных стран мира. 
                Они рекомендуют нас за надежность, оперативность и справедливые выплаты.
            </p>
            <p class="fs-5 text-wrap text-justify">
                2. Юмор — наше главное оружие!
                Страхование может быть серьезным делом, но мы в ОАО "Рога и Копыта" считаем, 
                что даже в самые трудные времена можно найти повод улыбнуться. 
                Наш дружелюбный персонал и забавные рекламные кампании развеселят вас 
                и сделают процесс страхования более приятным.
            </p>
            <p class="fs-5 text-wrap text-justify">
                3. Мы заботимся о вашей выгоде!
                Мы понимаем, что финансовые ресурсы наших клиентов ограничены, 
                поэтому предлагаем гибкие страховые планы, которые соответствуют вашему 
                бюджету и потребностям. При этом мы гарантируем высокие лимиты 
                ответственности и щедрые выплаты в случае страхового случая.
            </p>
            <p class="fs-5 text-wrap text-justify mt-5">
                Присоединяйтесь к семье "Рога и Копыта" сегодня!
                Не ждите, пока произойдет неожиданное. Обеспечьте себе и своим близким 
                защиту и душевное спокойствие уже сейчас. Свяжитесь с ОАО "Рога и Копыта" и позвольте 
                нам стать вашим надежным страховым партнером.
                Мы уверены, что наше сотрудничество будет долгосрочным и взаимовыгодным. 
                Ведь вместе мы сможем преодолеть любые препятствия и сохранить то, что вам дорого.
                ОАО "Рога и Копыта": Защищаем вас. Бережем ваше имущество. Дарим улыбки!
            </p>           
        </div>    
    </div>
{% endblock %}
