{% extends 'work/base_work.html' %}
{% load static %}
{% load work_tags %}

{% block content %}
    <div>
    <p class="h1 d-flex justify-content-start"> Формирование финансового отчета </p>
    </div>
    <form action="" method="post" class="table-responsive">
        {% csrf_token %}
        <table class="table table-striped table-responsive">
            {{ form.as_table }}
        </table>
        <div class="col offset-5 col-1">
            <input type="submit" class="btn btn-success" value="Запросить отчет" />
        </div>
    </form>
{% endblock %}